 asdbody 	{background-color:#CC99FF}
 body		{background-color:#EEEEEE}
  .glowna {
  		width: 600px;
		margin:auto;
		background: #FFFFCC;
		padding: 15px;
		border: 3px solid #CC3300; 
		display: block;
		margin:auto;
		border-top-right-radius: 45px;
		border-top-left-radius: 45px;
		border-bottom-left-radius: 45px;
		border-bottom-right-radius: 45px;
  		}
  .wyswie {
  		width: 500px;
		margin:auto;
		background: #FFFFCC;
		padding: 15px;
		border: 3px solid #CC3300; 
		display: block;
		margin:auto;
		border-top-right-radius: 45px;
		border-top-left-radius: 45px;
		border-bottom-left-radius: 45px;
		border-bottom-right-radius: 45px;
  
  			}	
	
  .reszta {
  			text-align:center;
  			font-size: 20px;}
  
  .linki {
  		width: 550px;
		margin:auto;
		background: #FFFFCC;
		padding: 10px;
		border: 1px solid #CC3300; 
		display: block;
		
		border-top-right-radius: 45px;
		border-top-left-radius: 45px;
		border-bottom-left-radius: 45px;
		border-bottom-right-radius: 45px;
		
  			}
	a {text-decoration: none;
		margin-left: 55px;}
  h2   {color:blue;}
  .czcionka	{font-size:17px;
  			color:green;
  				}
  .k    {color:green;
  			float:left;
  			}
  .radio	   {  margin-left: 60px;
  					color:black;}
  .lista		{  margin-left: 174px;
  					color:black;
  					text-decoration: none; }
  .przesuniecie {	float:right;
  					margin-top: 264px;}
  .przesuniecie2 {	float:left;
  					margin-top: 264px;}
  .material 	{float:left;
  				margin-left: 64px;
  				color:green;}	
  .interakcja 	{margin-left: 169px;}	
  .imie		  	{color:green;
  					}	
  
  .rusz2		{margin-left: 40px;}
  .rusz3		{margin-left: 340px;}
  .napisInter	{color:green;
  					font-size:17px;
  					margin-left: 184px;}
  .dodanierodzaj		{margin-left: 184px;}
  .dodaniematerial 	{margin-left: 184px;}
  .zdjecie				{margin-left:200px;}
  .listaDodanie 		{margin-left:165px;}
  .wielkość 			{font-size:20px;}
   .listaWyswie		{margin-left:135px;}
	.material2 	{
  				margin-left: 280px;
  				color:green;}	
  .wysrodkowanie	{text-align:center;
  					font-size:20px;}
  .napisyProjekt2 {text-align:center;
  					font-size:21px;
  					color:green;}
	.lista2			{color:green;
						font-size:17px;
						text-align:center;}
	.witaj		{float:right;}		
	.powitanie	{margin-left:130px;;
					text-align:center;
					font-size:22px;
					}
	.powitalna	{margin-left:85px;
					}
	.profil		{font-size:17px;
				color:white;}		
	.obrazek {float:right;
				margin:40px}
				
	.data	{float:left;
				font-size:17px;}